/* dashboard */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Nunito:wght@200;300;500;600;700;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --grey: #F1F0f6;
    --dark-grey: #F6EDEE;
    --light: #2E3140;
    --dark: #fff;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #BF9599;
    --light-blue: #D0E4FF;
    --dark-blue: #95BFBB;
    --red: #FC3B56;
}

body{
    background: var(--grey);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

#sidebar {
    position: fixed;
    width: 260px;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: #ebe9ea;
    padding-top: 40px;
}

#sidebar .brand img{
    width: 120px;
    height: 50px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}

#sidebar .side-menu {
    margin: 70px 0;
    padding: 0 20px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;

}

#sidebar .side-menu > li > li a:hover {
    background: var(--grey);
}

#sidebar .side-menu > li > a.active .icon-right {
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: var(--blue);
    color: var(--dark);
}

#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
}

#sidebar .side-dropdown {
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

#sidebar .side-dropdown.show{
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: var(--blue);
}

#sidebar .ads {
    width: 100%;
    padding: 20px;
}

#sidebar .ads .wrapper {
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
}

#sidebar .btn-upgrade {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--dark);
    background: var(--blue);
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
    background: var(--dark-blue);
}

#sidebar .ads .wrapper p{
    font-size: 12px;
    color: var(--light);
    text-align: center;
}

#sidebar .ads .wrapper p span{
    font-weight: 700;
}

/* navbar */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
}

nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
}

nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}

nav .divider {
    width: 1px;
    background: var(--dark-grey);
    height: 12px;
    display: block;
}

nav .profile {
    position: relative;
}

nav .profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;

}

nav .profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 6px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
}


/* main */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

main .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}

main .breadcrumbs li,
main .breadcrumbs li a{
    font-size: 14px;
}

main .breadcrumbs li a{
    color: var(--blue);
}

main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
    color: var(--light);
    pointer-events: none;
}